swagger: '2.0'
x-asee-visibility: public
info:
  description: |
    Reference API gives you access to a repository of registries maintained by the financial institution. You can get official list of countries, currencies, channels and banks.
  title: Reference API
  version: v1
  contact:
    name: Natasa Tasic
    url: https://bankapi.net/docs/public/reference-getstarted.html
    email: natasa.tasic@asseco-see.rs
host: bankapi.net
basePath: /v1/reference
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
tags:
  -
    name: Countries
    description: Working with countries
  -
    name: Currencies
    description: Working with currencies
  -
    name: Channels
    description: Working with channels

paths:
  /countries:
    get:
      summary: Get list of countries
      tags:
        - Countries
      operationId: Countries_GetList
      x-asee-tags:
        - Shapeable
        - Sortable
      parameters:
        - $ref: "#/parameters/sort-by-param"
        - $ref: "#/parameters/sort-order-param"
        - $ref: "#/parameters/include-param"
        - $ref: "#/parameters/trim-param"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/country-list'
        default:
          $ref: '#/responses/default-error-response'

  /currencies:
    get:
      summary: Get list of currencies
      tags:
        - Currencies
      x-asee-tags:
        - Shapeable
        - Sortable
      operationId: Currencies_GetList
      parameters:
      - $ref: "#/parameters/sort-by-param"
      - $ref: "#/parameters/sort-order-param"
      - $ref: "#/parameters/include-param"
      - $ref: "#/parameters/trim-param"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/currency-list'
        default:
          $ref: '#/responses/default-error-response'

  /channels:
    get:
      summary: Get list of channels
      tags:
        - Channels
      operationId: Channels_GetList
      parameters:
      - $ref: "#/parameters/sort-by-param"
      - $ref: "#/parameters/sort-order-param"
      - $ref: "#/parameters/include-param"
      - $ref: "#/parameters/trim-param"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/channel-list'
        default:
          $ref: '#/responses/default-error-response'
  /banks:
    get:
      summary: Get list of banks
      operationId: Banks_GetList
      parameters:
        - $ref: '#/parameters/swift-code-param'
        - $ref: '#/parameters/bank-name-param'
        - $ref: '#/parameters/bank-country-param'
        - $ref: '#/parameters/residency-param'
        - $ref: '#/parameters/page-size-param'
        - $ref: '#/parameters/page-param'
        - $ref: '#/parameters/sort-order-param'
        - $ref: '#/parameters/sort-by-param'
        - $ref: '#/parameters/include-param'
        - $ref: '#/parameters/trim-param'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/bank-list'
        default:
          $ref: '#/responses/default-error-response'
      tags:
        - Banks
      x-asee-tags:
        - Pageable
        - Sortable
        - Shapeable
parameters:
  page-param:
    name: page
    in: query
    description: Page index. For more information see general guidance on [paging](common-getstarted.html#paging)
    type: integer
    default: 1
    x-asee-common: true
  page-size-param:
    name: page-size
    in: query
    description: Number of items on a page. For more information see general guidance on [paging](common-getstarted.html#paging)
    required: false
    type: integer
    default: 10
    x-asee-common: true
  sort-order-param:
    description: Sort order (`asc` or `desc`). Default is asc. For more information see general guidance on [sorting](common-getstarted.html#sorting)
    in: query
    name: sort-order
    type: string
    default: asc
    enum:
    - asc
    - desc
    x-asee-common: true
  sort-by-param:
    description: Attribute of the collection item to sort by. For more information see general guidance on [sorting](common-getstarted.html#sorting)
    in: query
    name: sort-by
    type: string
    x-asee-common: true
  include-param:
    description: List of fields to include in response. For more information see general guidance on [response shaping](common-getstarted.html#shaping)
    in: query
    name: include
    type: array
    items:
      type: string
    collectionFormat: csv
    x-asee-common: true
  trim-param:
    description: List of fields to trim from response. For more information see general guidance on [response shaping](common-getstarted.html#shaping)
    in: query
    name: trim
    type: array
    items:
      type: string
    collectionFormat: csv
    x-asee-common: true
  swift-code-param:
    description: Bank swift code
    in: query
    name: swift-code
    required: false
    type: string
  bank-name-param:
    description: Bank name
    in: query
    name: name
    required: false
    type: string
  bank-country-param:
    description: "ISO3166 2 letter code of country. List of countries is maintained by [Reference API](reference-getstarted.html)."
    in: query
    name: country
    required: false
    type: string
  residency-param:
    description: Foreign or domestic bank
    in: query
    name: residency
    required: false
    enum:
      - domestic
      - foreign
    type: string
definitions:
  paged-list:
    description: List with support for paging
    properties:
      total-count:
        description: Total number of items in collection
        type: integer
      page-size:
        description: Size of the page
        type: integer
      page:
        description: Index of current page
        type: integer
      total-pages:
        description: Total number of pages of set size
        type: integer
      sort-order:
        description: Sort order (`asc` or `desc`). Default is asc
        type: string
        enum:
        - asc
        - desc
      sort-by:
        description: Attribute of the collection item to sort by
        type: string
  channel-list:
    description: List of channels
    properties:
      items:
        description: List of channels with basic channel information.
        items:
          $ref: "#/definitions/channel"
        type: array
    type: object
    example:
      -
        code: sms
        literal: SMS
        description: SMS
        parent-channel-id: 38733
        is-leaf: 1
      -
        code: mobile
        literal: Mobile
        description: Mobile
        parent-channel-id: 38733
        is-leaf: 1
  channel:
    description: Channel basic information
    properties:
      code:
        description: Channel code. This property is configurable.
        type: string
      literal:
        description: Channel public literal. This property is configurable.
        type: string
      description:
        description: Channel Description
        type: string
      parent-channel-id:
        description: "Id of parent channel, null if parent don't exist"
        format: int64
        type: integer
      is-leaf:
        description: Property shows whether channel object is leaf element or not
        type: boolean
    type: object
  country-list:
    type: object
    description: List of countries
    allOf:
    - $ref: "#/definitions/paged-list"
    properties:
      items:
        type: array
        description: List of countries with basic country information
        items:
          $ref: "#/definitions/country"
    example:
      total-count: 6205
      page-size: 3
      page-number: 1
      total-pages: 2069
      items:
      - name: SVETA JELENA
        translation-name: Sveta Jelena
        code: '654'
        alpha2: SH
        alpha3: SHN
        country-status: Existing
        is-eu-member: false
        iban-prefix:
        iban-length: 0
      - name: FRANCE
        translation-name: Francuska
        code: '250'
        alpha2: FR
        alpha3: FRA
        country-status: Existing
        is-eu-member: true
        iban-prefix:
        iban-length: 0
      - name: SAINT BARTHELEMY
        translation-name: Sveti Bartolomej
        code: '652'
        alpha2: BL
        alpha3: BLM
        country-status: Existing
        is-eu-member: false
        iban-prefix:
        iban-length: 0
  country:
    description: Basic information about country
    properties:
      name:
        description: Country full name
        type: string
      translation-name:
        description: Country secondary language translation name
        type: string
      code:
        description: Country three-digit numeric code (Standard ISO 3166-1 numeric)
        type: string
      alpha2:
        description: Country two-letter code (Standard ISO 3166-1 alpha-2)
        type: string
      alpha3:
        description: Country three-letter code (Standard ISO 3166-1 alpha-3)
        type: string
      country-status:
        description: Country status (Existing, Former)
        type: string
      is-eu-member:
        description: Propery defined whether country is EU member or not.
        type: boolean
      iban-prefix:
        description: Country Iban prefix (iban stands for Internation Bank Account
          Number)
        type: string
      iban-length:
        description: Country standard for Iban length
        format: int32
        type: integer
    type: object

  currency-list:
    type: object
    description: List of currencies
    allOf:
    - $ref: "#/definitions/paged-list"
    properties:
      items:
        type: array
        description: List of currencies with basic currency information
        items:
          $ref: "#/definitions/currency"
    example:
      total-count: 6205
      page-size: 3
      page-number: 1
      total-pages: 2069
      items:
      - name: Euro
        translated-name:
        currency-symbol: €
        currency-code: '978'
        alphanumeric-code: EUR
        is-convertible: true
      - name: Dinars
        translated-name:
        currency-symbol: RSD
        currency-code: '941'
        alphanumeric-code: RSD
        is-convertible: true
      - name: Francs
        translated-name:
        currency-symbol: CHF
        currency-code: '756'
        alphanumeric-code: CHF
        is-convertible: true
  currency:
    description: Currency detail info
    properties:
      name:
        description: Currency name
        type: string
      translated-name:
        description: Currency translated name
        type: string
      currency-symbol:
        description: Currency symbol is a graphic symbol used as a shorthand for currency name.
        type: string
      currency-code:
        description: Currency three-digit code (Standard ISO 4217)
        type: string
      alphanumeric-code:
        description: Three-letter code (Standard ISO 4217)
        type: string
      is-convertible:
        description: Property defines whether currency can be converted into gold or another currency.
        type: boolean
    type: object
  bank-list:
    description: List of banks
    allOf:
    - $ref: '#/definitions/paged-list'
    properties:
      items:
        description: Bank list.
        items:
          $ref: '#/definitions/bank'
        type: array
    type: object
  bank:
    description: Info about bank
    properties:
      swift-code:
        description: Bank swift code
        type: string
      bank-name:
        description: Bank name
        type: string
      bank-address:
        description: Bank address
        type: string
      bank-city:
        description: Bank city
        type: string
      country:
        description: "ISO 3166-1 2 letter country code"
        type: string
      residency:
        description: Bank residency status
        enum:
          - domestic
          - foreign
        type: string
    type: object
responses:
  default-error-response:
    description: Besides specific status codes above, other standard http [status codes](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html) can be returned for each request. To learn more see general guidance on [error handling]()
